@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Outfit", sans-serif; */

:root {
  --primary-color: #1e3a8a;
  --primary-soft:#bfcffe;
  --success: #16a34a;
  --warning: #f59e0b;
  --error: #dc2626;
  --bg-light: #f9fafb;
  --text: #6b7280;
  --logo-font: "Outfit", sans-serif;

 
  --soft-blue: #e0e7ff;
  --soft-green: #dcfce7;
  --soft-yellow: #fef9c3;
  --soft-red: #fee2e2;
  --soft-purple: #ede9fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-light);
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text);
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--primary-color);
}

h2{
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: var(--primary-color);
}

.app-section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
}

